@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

$bt-red: #ef4748;
$bt-grey: #f6f5f0;
$bt-blue: #3c67c1;
$bt-green: #309100;

$alert-yellow: #ffffe7;
$alert-green: #abcd0e;
$alert-red: #f2576d;
$alert-blue: '';

$text-dark: #000;

$border-base: #e0e0e0;

$font-basic: 'Lato', sans-serif;