page-prices {
	@media screen and (max-width: 767px) {
		.content-md {
			background: $bt-grey;
		}
		.filters {
			margin: 0 -15px;
			margin-bottom: 15px;
		}
		// tabular
		.tabular {
			&__row {
				padding-bottom: 0;
				margin-left: -15px;
				margin-right: -15px;
			}
			&__cell:nth-child(2) {
				width: 100%;
				order: 1;
			}
			&__cell:nth-child(3) {
				order: 5;
				width: 60%;
				text-align: right;
				height: 42px;
				padding-top: 8px;
			}
			&__cell:nth-child(4),
			&__cell:nth-child(7) {
				display: none;
			}
			&__cell:nth-child(5) {
				order: 2;
				width: 20%;
				padding-top: 8px;
			}
			&__cell:nth-child(6) {
				order: 3;
				width: 20%;
				padding-top: 8px;
			}
		}
		.tabular__row.open {
			.tabular__cell:nth-child(7) {
				display: block;
				width: 100%;
				text-align: center;
				order: 5;
			}
			.tabular__cell:nth-child(3) {
				height: auto;
			}
		}
	}
}
