.filters {
	padding: 15px 0;
	align-items: flex-start;
	flex-wrap: wrap;
	&, .btn {
		font-size: 13px;
	}
	&__wrap {
		// width: 100%;
		@media (min-width: 768px) {
			// padding-top: 15px;
			// margin-top: 15px;
			// border-top: 1px solid #ebebeb;
		}
		.button {
			text-transform: none;
			font-size: 13px;
		}
		.button-outline-md-dark {
			border-color: $border-base;
			border-radius: 3px;
			padding: 0 8px;
			.icon-small {
				margin-left: 8px;
			}
		}
	}
	&__search {
		border: 1px solid $border-base;
		border-radius: 3px;
		margin: 0;
		white-space: nowrap;
		.btn-search {
			padding: 8px;
			background: lighten($border-base, 3%);
			border: 0;
			border-radius: 0;
			// margin-right: -4px;
			height: 34px;
		}
		.icon {
			vertical-align: middle;
			&:first-child {
				margin-right: 5px;
				font-size: 180%;
			}
			&:last-child {
				margin-left: 5px;
			}
		}
		.form-control {
			border: 0;
		}
	}
	&__toggle {
		padding: 6px 12px;
		width: 50px;
		position: relative;
	}
	@media (min-width: 768px) and (max-width: 1170px) {
		&__wrap {
			width: 100%;
			padding-top: 15px;
			margin-top: 15px;
			border-top: 1px solid #ebebeb;
		}
		.filters__toggle.open:before, .filters__toggle.open:after {
			content: '';
			position: absolute;
			left: 2px;
			bottom: -17px;
			border: 7px solid transparent;
			border-bottom-color: #fff;
			z-index:1;
			transform: translateX(14px);
		}
		.filters__toggle.open:after {
			border-width: 9px;
			border-bottom-color: #ebebeb;
			z-index: 0;
			left: 0;
		}
	}
	&__price {
		padding: 15px;
		width: 225px;
	}
	&__range {
		margin-bottom: 18px;
	}
	&__input {
		width: 75px;
		margin: 0;
		position: relative;
		input {
			box-shadow: none;
			border-radius: 0;
			border: 0;
			border-bottom: 1px solid $border-base;
			padding-left: 15px;
			padding-right: 0;
			height: auto;
			&:active, &:focus {
				box-shadow: none;
			}
		}
		.display-label {
			font-size: 11px;
			font-weight: normal;
			text-transform: uppercase;
			opacity: 0.45;
			margin: 0;
			display: block;
		}
		.icon-label {
			position: absolute;
			left: 0;
			bottom: 2px;
			opacity: 0.45;
		}
	}
	@media screen and (max-width: 767px) {
		padding: 0 15px;
		margin-bottom: 15px;
		background: #fff;
		box-shadow: 0 0 8px rgba(0,0,0,0.1);
		flex-wrap: wrap;
		justify-content: space-between;
		&__search {
			width: 86%;
			border: 0;
			border-radius: 0;
			border-bottom: 1px solid $border-base;
			.btn-search {
				background: transparent;
				height: 50px;
			}
			.form-control, .form-control:focus {
				box-shadow: none;
				height: 50px;
			}
		}
		&__toggle {
			padding: 14px 8px;
			width: auto;
		}
		&__wrap {
			flex-direction: column;
			width: 100%;
			// .btn-group, .btn {
			// 	width: 100%;
			// 	display: block;
			// 	float: none;
			// }
			position: relative;
			&:before {
				content: 'Filter by';
				padding: 10px 0 4px;
				display: block;
				font-weight: bold;
				text-transform: uppercase;
				opacity: .45;
				font-size: 90%;
			}
			.button-drop {
				width: 100%;
				border: 0;
				border-bottom: 1px solid #eee;
				text-align: left;
				height: 45px;
				padding: 0;
			}
			.button-drop .button-inner {
				justify-content: left;
			}
		}
		&__price {
			width: 100%;
		}
		.btn-apply {
			margin-bottom: 15px;
			padding: 12px;
			width: 100%;
			margin-top: 15px;
		}
		.btn-reset {
			position: absolute;
			right: 0;
			top: 0;
			width: auto;
			padding: 7px 12px;
		}
	}
}

.plusicon:before {
	content: '+';
	font-size: 18px;
	display: inline-block;
	width: 24px;
	text-align: center;
}
.open .plusicon:before {
	content: '-';
}