.product-icon {
	display: inline-block;
	vertical-align: bottom;
	width: 15px;
	height: 15px;
	background: url(../assets/img/listing.png) no-repeat center;
	background-size: 15px;
	opacity: 0.45;
}
.seller-icon {
	opacity: 0.45;
	font-size: 80%;
}