/* tabs */
.pri-menu {
	@media screen and (max-width: 767px) {
		display: flex;
	}
	&__title {
		padding: 10px 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		h1, h2 {
			font-size: 24px;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		h2 {
			font-size: 18px;
		}
		@media screen and (min-width: 768px) {
			&.hasub:after {
				content: '\f105';
				font-family: 'FontAwesome';
				margin: 0 15px;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	ul {
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	li {
		display: inline-block;
		float: none;
		vertical-align: middle;
		a {
			padding: 14px 15px;
			font-size: 14px;
			border-radius: 0;
			color: $text-dark;
			opacity: 0.5;
			// color: rgba($text-dark, 0.45);
			cursor: pointer;
			display: block;
			text-decoration: none;
		}
		// &:first-child {
		// 	font-size: 18px;
		// 	font-weight: 500;
		// 	&:after {
		// 		content: "\f054";
		// 		font-family: 'FontAwesome';
		// 		margin: 0 10px 0 15px;
		// 		font-size: 8px;
		// 	}
		// }
	}
	li.active a {
		// color: #000;
		opacity: 1;
		border-bottom: 3px solid $bt-red;
		background: transparent;
	}
	li.active a {
		// border: 1px solid transparent;
		// border-bottom: 2px solid $bt-red;
		// color: grey;
		// font-weight: 600;
		&:hover {
			color: #000;
			background: transparent;
			// border: 1px solid transparent;
			// border-bottom: 2px solid $bt-red;
			// color: grey;
			// font-weight: 600;
		}
	}
	li a:hover {
		// border-color: transparent;
		background-color: transparent;
		color: #000;
		text-decoration: none;
	}
	// &.tab-in-table {
	// 	li {
	// 		a {
	// 			color: rgb(35, 110, 178);
	// 		}
	// 	}
	// 	&.active {
	// 		>a {
	// 			color: rgb(35, 110, 178);
	// 			&:hover {
	// 				color: rgb(35, 110, 178);
	// 			}
	// 		}
	// 	}
	// 	& + .tab-content {
	// 		box-shadow: inset 0 0 5px #ccc;
	// 		padding: 5px;
	// 		background: #fff;
	// 	}
	// }
	@media (max-width: 767px) {
		&__hb {
			// padding: 19px 20px 11px;
			padding: 15px 20px;
			margin-left: -15px;
		}
		li a {
			color: rgba(#fff, 0.75);
		}
		li.active a {
			color: #fff;
			border-color: #fff;
		}
	}
}
