.price {
	display: inline-block;
	padding-bottom: 3px;
	margin: 0 3px;
	.rupee {
		opacity: 0.45;
	}
	.amount {
		font-size: 16px;
		font-weight: 500;
		margin-left: 3px;
	}
	.badge {
		margin-top: 3px;
		font-size: 12px;
		display: block;
		height: 4px;

		overflow: hidden;
		line-height: 5;
		padding: 0;
	}
}
.violation-icon {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
}
.open .price .badge {
	height: auto;
	padding: 3px 8px;
	line-height: 1;
}
.bb {
	vertical-align: top;
}
@media screen and (min-width: 768px) {
	.pricer-count {
		&__legend {
			display: none;
		}
	}
}
@media screen and (max-width: 767px) {
	.bb {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.price {
		.amount {
			font-size: 20px;
		}
		.badge {
			margin-top: 7px;
		}
	}
	.pricer-count {
		strong {
			font-size: 20px;
		}
	}
}